body {
  background-image: url('../images/OP3W7J0.jpg');
  background-size:cover;
}

.header {
  height: 30vh;
}

.credit {
  visibility: hidden;
}
/*Hides unnecessary elements when printing.*/
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
