@font-face {
  font-family: 'JackStory';
  src: url('../fonts/CFJackStory-Regular.ttf');
}


.delete-edit {
  vertical-align: middle;
  border-color: #1C00ff00;
  font-size: 1.5em;
  margin: 0px;
  float: right;
  color: #2e3747;
  box-shadow: none !important;
}


.delete-edit:hover {
  background-color: #1C00ff00 !important;
  border-color: #1C00ff00 !important;
  color: #586a89 !important;
}

/*Edits the listed items within the line*/
.todoItems {
  display: inline-block;
  margin: 2px;
  border: 0px;
  border-bottom: 0.5px;
  border-style:ridge;
  list-style-type: none;
  height: 3em;
  color:#2e3747;
}
/*Edits one item in the todo-list*/
.todoItem, .doneItem {
  margin-top: 1em;
  display: inline-block;
  margin-left: 1em;
  font-family: 'JackStory';
  letter-spacing: 0.1em;
}

/*Changes the appearance of an item that
  is marked done*/
.doneItem {
  text-decoration: line-through;
  color: gray;
}

.checkbox{
  background-color: #1C00ff00!important;
  margin-left: 0.5em;
  padding: 0px;
  height: 1em;
  width: 1em;
  box-shadow: none !important;
}

#done{
  color: #31993d;
  margin: 0px;
  margin-top: 1px;
  font-size: 0.75em;
  vertical-align:top;
}

/*Moves the edit-input to the leftside
  of the list */
.edited-input {
  float: left;
  margin-top: 0.5em;
  margin-left: 0.9em;
  width: 20vw;
}

#done-editing, #cancel-editing {
  float: left;
}
