@font-face {
  font-family: 'JackStory';
  src: url('../fonts/CFJackStory-Regular.ttf');
}

.weekday {
  font-family: 'JackStory';
  font-size: 1em;
  margin-left: 0.5em;
  float: left;
  width: 13%;
  text-align: center;
  border-color: #fbcece;
  border-style: double;
  border-width: 5px;
  background-color: #fffdfc;
}

.this-week:after {
    content: "";
    display: table;
    clear: both;
}

#monday {
margin-left: 1em;
}

.this-week {
  margin-left: 1em;
  margin-right: 1em;
  height: 80vh;
  width: 100vw;
}

.vertical-line{
  border: none;
  border-left-color: #fbcece;
  border-left-style: double;
  border-left-width: 5px;
  margin-left: 1em;
}
