@font-face {
  font-family: 'JackStory';
  src: url('./fonts/CFJackStory-Regular.ttf');
}

.addButton {
  margin-left:0;
  height: 2em;
  border: none;
  font-size: 1.5em;
  margin-bottom: 3px;
  background-color: #1C00ff00;
}

.addButton:hover {
  background-color: #1C00ff00;
  color: inherit;
}

.addButton:active {
  background-color: #1C00ff00;
  color: inherit;
}

.todoInput {
  margin: 1.75em;
  margin-top: 0px;
  font-family: 'JackStory';
  letter-spacing: 0.05em;
  background-color: #fffdfc;
  border-color: #fbcece;
  border-style: double;
  border-width: 5px;
  width: 95%;
  align-items: center;
  display: inline-block;
}

.input {
  box-shadow: none;

}

.placeholder {
  font-family: 'JackStory';
  letter-spacing: 0.05em;
}

.input-and-button {
  display: inline-block;
  box-shadow: none;
  margin-left: 1em;
}

.show-button {
  margin-left: 0.5em;
}
