@font-face {
  font-family: 'JackStory';
  src: url('./fonts/CFJackStory-Regular.ttf');
}


.delete-button, .edit-button {
  vertical-align: middle;
  border-color: #1C00ff00;
  font-size: 1.5em;
  margin: 0px;
  float: right;
}

.delete-button:hover, .edit-button:hover {
  background-color: #1C00ff00;
  border-color: #1C00ff00;
  color: inherit;
}

.todoItems {
  vertical-align: middle;
  display: inline-block;
  margin: 3px;
  border: 0px;
  border-bottom: 1px;
  border-style: ridge;
  list-style-type: none;
  height: 3em;

}

.todoItem, .doneItem {
  display: inline;
  margin-left: 0.5em;
  font-family: 'JackStory';
  letter-spacing: 0.1em;
}

.doneItem {
  text-decoration: line-through;
  color: gray;
}
.checkbox {
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 0.75em;
}

.edited-todo {
  float: left;
  margin-top: 0.5em;
  margin-left: 0.25em;
}

#done-editing {
  float: left;
}
